# Use root/example as user/password credentials
version: '3.1'

services:

  server:
    hostname: server
    build: .
    ports:
      - "3306:3306"
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      #MYSQL_ROOT_PASSWORD: "secret_pass"
      MYSQL_USER: "sandbox"
      MYSQL_PASSWORD: "highlyillogical"
      MYSQL_DATABASE: "bookstore"
  adminer:
    hostname: adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080 